.logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.navbar {
  height: 5rem;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  margin-right: 1.5rem;
}
