@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-wrap: wrap;
}

/* for card component */
.card-container {
  width: 20rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  margin: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.card-img {
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
}

.card-fabric-name {
  margin: 5px;
  font-size: medium;
}
.card-price {
  font-size: 18px;
  margin: 2px;
  font-weight: 100;
}

.addToCart-button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
.addToCart-button:hover {
  background-color: #006c9a;
}

/* css for the navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #444;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #00b4d8;
}

/* For product page */

.product-page-product-container {
  border: 2px solid;
  padding: 2rem;
}

/* cartItem css */
.cartItem {
  display: flex;
  flex-direction: row;

  align-items: center;
  border: 2px solid;
  padding: 1rem;
  margin: 1rem;
}

.cartItemImg {
  height: 15rem;
  width: 15rem;
  margin: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
}

.countHandler {
  border: 1px solid;
}
